.marquee {
  font-family: "DotGothic16";
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  user-select: none;

  span {
    display: inline-block;
    animation: marquee 15s linear infinite;
  }
}

.stopOnHover:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(100dvw);
  }
  100% {
    transform: translate(-100%);
  }
}

.easterEggMode {
  color: hsl(0, 100%, 69%);
  animation: easterEgg 10s linear infinite;
}

@keyframes easterEgg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
